@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900; /* Range of weights supported */
  font-display: optional;
  src: url(/inter-var-latin.woff2) format('woff2');
}

:root {
  /* Colors manually pulled from Radix Colors */
  --colors-grayA2: hsl(0 0% 99.0%);
  --colors-grayA3: hsl(0 0% 95.1%);
  --colors-grayA5: hsl(0 0% 90.9%);
}

body {
	font-family: Inter, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #3273dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

